<div class="container row shadow">
    <div class="col-md-6 mt-4 mb-3">
        <h3>Adres</h3><br />
        <iframe src="https://goo.gl/maps/v5FUXzsHsDW1YmDDA" width="350" height="250" style="border:1px;" allowfullscreen="" loading="lazy"></iframe>
        <br />
        <address><br />
            <p><i class="fas fa-map-marker-alt pr-1"></i><i> Meydan Mahallesi. Merkez Kampüs İSTE</i></p>
            <p><i> İskenderun / HATAY</i></p>
        </address>
    </div>
    
    <div class="col-md-6  mt-4 mb-3">
        <h3>İletişim</h3>
        <br />
        <p><i class="fas fa-phone pr-2"></i> +90 (546) 452 19 87  </p>
        <p><i class="fas fa-at pr-2"></i><a href="mailto:batuhanvural.mdbf19@iste.edu.tr">batuhanvural.mdbf19@iste.edu.trm</a>   </p>
        <p><i class="fab fa-instagram pr-2"></i> <a href="http://www.instagram.com/batuhanvural0" style="text-decoration: none;">Batuhan VURAL</a>  </p>
        <p><i class="fab fa-github pr-2"></i> <a href="http://www.github.com/batuhanvural" style="text-decoration: none;">Batuhan VURAL</a>  </p>
        <p><i class="fab fa-youtube pr-2"></i> <a href="https://www.youtube.com/channel/UCJX2bYTwLcBOBGiodzUUgtQ" style="text-decoration: none;">Batuhan VURAL</a>  </p>
    </div>
</div>
